.header {
    text-align: center;
}

.ContactName {
    padding: 0;
    margin-bottom: 10px;
    background-color:aliceblue;
}

.ContactComment {
    padding: 0;
    margin-bottom: 15px;
    background-color: aliceblue;
}

.contact--address {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}